/* Сброс стилей */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Основной стиль страницы */
html,
body {
  height: 100%;
  background-color: #5d2f2f;
}

/* Навигация */
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 20;
  background: linear-gradient(-45deg, #ff9a9e, #3f190f, #482217, #ffdde1);
  background-size: 300% 300%;
  animation: gradientMove 8s ease infinite;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

header nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

header nav ul li {
  margin: 0 80px;
}

header nav ul li a {
  text-decoration: none;
  color: rgb(25, 2, 2);
  font-size: 30px;
  display: inline-block;
  transition: font-size 0.3s ease, color 0.3s ease;
}

header nav ul li a:hover {
  font-size: 35px;
  color: #ff6347;
}

header nav ul li a:active {
  transform: scale(0.95);
  color: #b22222;
}

/* Секция со слайдером */
.works-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 90px;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.slider-container {
  position: relative;
  width: 920px; /* Ширина слайда */
  overflow: hidden;
}

.works-slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.work-item {
  min-width: 900px; /* Ширина слайда */
  margin: 0 10px;
  text-align: center;
}

.work-item img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

/* Кнопки */
.prev-button,
.next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  background-color: #634646;
  color: white;
  border: none;
  font-size: 30px;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
  transition: background-color 0.3s ease;
  opacity: 0.8;
}

.prev-button:hover,
.next-button:hover {
  background-color: #ff6347;
  opacity: 1;
}

/* Сдвигаем кнопки на 1 см от левого и правого края */
.prev-button {
  left: 1cm; /* отступ в 1 см от левого края */
}

.next-button {
  right: 1cm; /* отступ в 1 см от правого края */
}

/* Адаптация */
@media (max-width: 768px) {
  .slider-container {
    width: 90%; /* Подгонка ширины контейнера для мобильных устройств */
  }

  .work-item {
    min-width: 100%; /* Каждому слайду даем полную ширину */
    margin: 0;
  }

  .prev-button {
    left: 1cm; /* сохраняем отступы */
  }

  .next-button {
    right: 1cm;
  }
}

/* Подвал (footer) */
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(185, 171, 171, 0.576);
  padding: 5px 10px;
  z-index: 10;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 100%;
  padding: 0 5px;
}

.name,
.contacts {
  color: black;
}

.name {
  font-weight: bold;
  text-align: left;
}

.contacts {
  text-align: right;
  font-weight: bold;
}
